/Praktikum2/nbproject/private/
/Praktikum2/build/
/home/sasa/git/RNP/Praktikum2/Praktikum2/build/
/home/sasa/git/RNP/Praktikum2/Praktikum2/nbproject
/home/sasa/git/RNP/Praktikum2/Praktikum2/test/
/home/sasa/git/RNP/Praktikum2/Praktikum2/manifest.mf
/home/sasa/git/RNP/Praktikum2/Praktikum2/build.xml
