
/Praktikum2/Praktikum2/build/
/Praktikum2/Praktikum2/nbproject/
/Praktikum2/Praktikum2/nbproject/private/private.xml

/Praktikum2/Praktikum2/test/
/Praktikum2/Praktikum2/manifest.mf
/Praktikum2/Praktikum2/build.xml
/Praktikum2/Praktikum2/dist/